

:root{
    --listItem-elements-height: 30px;

}

.listItem {
    border: solid 5px yellow;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    min-width: 500px;

}


.listItemCheckBoxField{
    width: var(--listItem-elements-height);
    height: var(--listItem-elements-height);
}
.listItemDeleteButton{
     width: var(--listItem-elements-height);;
    height: var(--listItem-elements-height);
    justify-self: flex-end;
}
.listItemTextField{
    width: 100%;
    height: var(--listItem-elements-height);
    padding: 0 5px;

}



[draggable] {
    will-change: transform;
    cursor: move;
    transition: all 200ms;
    user-select: none;
    position: relative;
}
.dragged{
    border-color: black;
    opacity: 1;
    width: 300px;
}
.draggedOver{
    border-style: dotted;
}

.allListItemsWhileDragging *{
    pointer-events: none;
}
