/*-------------------------------------------------------------------------*/

:root{
    --listItem-elements-height: 30px;

    --page-background-olor: #61646a;
    --container-background-color:#202124;
    --element-border-color: #5f6368;
    --font-color: #E1E1E2;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 4px lightgreen;

}
::-webkit-scrollbar {
    /*display: none;*/
    width: 10px;

}


body{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--page-background-olor);

    box-sizing: content-box;
    position: absolute;
    margin: 0;
    height: 100%;
    width:100%;
}

/*-------------------------------------------------------------------------*/
#bodyElementsContainer{
    min-width: 300px;
    width: 80%;
    height: 80%;
    border-radius: 20px;

    background-color: var(--container-background-color);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.6), 0 4px 8px 3px rgba(0,0,0,0.302);
    border: 1px solid var(--element-border-color);
    padding: 60px 5px 5px 5px;
    box-sizing: border-box;

    position: relative;

}
#todo-container{
    /*background-color: green;*/
    height: 100%;
    overflow-y: auto;
}

/*-------------------------------------------------------------------------*/
ul{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.listItem {


    border-radius: 20px;
    border: 1px solid  var(--element-border-color);
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: space-between ;
    position: relative;

    width: 99%;
    margin:  5px 0;
    padding: 5px;
    box-sizing: border-box;


}

/*-------------------------------------------------------------------------*/
.listItemCheckBoxField{
    min-width: var(--listItem-elements-height);
    min-height: var(--listItem-elements-height);
    max-width: var(--listItem-elements-height);
    max-height: var(--listItem-elements-height);
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #cacece;
    border-radius: 10px;
    outline: none;
}
.listItemCheckBoxField:checked{
    background: rgba(255, 255, 255, .1)
    url("../res/icons/icon-tick.svg")
    no-repeat
    calc((var(--listItem-elements-height) - 20px) / 2);

    background-size: 20px 20px;
}
.listItemCheckBoxField:checked + .listItemTextField{
    text-decoration: line-through;
    opacity: 0.4;

}

.listItemDeleteButton{
    min-width: var(--listItem-elements-height);
    min-height: var(--listItem-elements-height);
    max-width: var(--listItem-elements-height);
    max-height: var(--listItem-elements-height);

    margin-left: 5px;

    background-image: url("../res/icons/icon-bin.svg");
    background-color: unset;
    border: 0;
    cursor: pointer;
    outline: none;

    position: absolute;
    right: 5px;
    opacity: 0;
    transition: opacity .3s;

}
.listItem:hover .listItemDeleteButton , .listItemDeleteButton:focus{
    display: block;
    opacity: 1;
}


.listItemTextField{
    width: 100%;
    height: var(--listItem-elements-height);
    padding: 0 35px 0 5px;

    color: var(--font-color);
    background-color: transparent;
    border: 0;
    outline: none;

}
.listItemTextField:focus + .listItemDeleteButton {
    opacity: 1;
}

/*-------------------------------------------------------------------------*/
[draggable] {
    will-change: transform;
    cursor: move;
    transition: all 200ms;
    user-select: none;
    position: relative;
}
.dragged{
    border-color: black;
    opacity: 1;
    width: 300px;
}
.draggedOver{
    border: 2px dotted greenyellow;
}
.allListItemsWhileDragging *{
    pointer-events: none;
}

/*-------------------------------------------------------------------------*/
#add-todo{
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;

    min-height: 46px;
    max-height: var(--listItem-elements-height);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid  var(--element-border-color);

}
#add-todo input[name="add"]{
    background:
    url("../res/icons/icon-plus.svg")
    no-repeat;
    background-size: var(--listItem-elements-height);

    border: 0;
    outline: none;

    min-width:  var(--listItem-elements-height);
    min-height: var(--listItem-elements-height);
    max-width:  var(--listItem-elements-height);
    max-height: var(--listItem-elements-height);
}
#add-todo input[name="undo"]{
    background:
    url("../res/icons/icon-undo.svg")
    no-repeat;
    background-size: var(--listItem-elements-height) ;

    margin-left: 10px;
    border: 0;
    outline: none;

    min-width:  var(--listItem-elements-height);
    min-height: var(--listItem-elements-height);
    max-width:  var(--listItem-elements-height);
    max-height: var(--listItem-elements-height);
}
#add-todo input[type="text"]{
    width: 100%;
    background-color: transparent;
    outline: none;
    border:0;
    color: var(--font-color);
    padding: 0 10px;
    box-sizing: content-box;

}
#add-todo input[type="text"]:focus{
    outline: none;
}

/*-------------------------------------------------------------------------*/
#emptyTodo{
    position: absolute;
    top:60px;
    bottom: 0;
    left: 0;
    right: 0;

    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: sans-serif;
    opacity: .2;
    pointer-events: none;
}

/*-------------------------------------------------------------------------*/
.grayscale{
    filter: grayscale(100%);
}
.hidden{
    background-color: darkred;
    display: none !important;
}
/*-------------------------------------------------------------------------*/
